Taller2/dtd/taller2.dtd

<!ELEMENT contactos (persona*)>
<!ELEMENT persona (cedula, nombre, apellido, edad, genero, telefono, telefono?, correo, correo?, estado, direccion, profesion, ocupacion)>
<!ELEMENT cedula (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
<!ELEMENT estado (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT profesion (#PCDATA)>
<!ELEMENT ocupacion (#PCDATA)>
